.bgLightGrayContainer {
  padding: 0;
  margin-top: 20px;
  max-width: 760px;
  border-radius: 12px;
  background-color: rgb(242,243,244);
}

.banner {
  height: 250px;
  border-radius: 12px 12px 0px 0px;
  background-color: rgb(98,169,205);
}

.userPage {
  top: -6.2rem;
  padding: 0 60px;
  position: relative;
  margin-bottom: -3rem;
}
@media (max-width: 760px) {                  
  .userPage {
    padding: 0 1.5rem;
  }
}

.bgWhiteContainer {
  background-color: white;
  border-radius: 12px;
}

.textMiddleBlue {
  color: rgb(0, 106, 166);
}

.avartar {
  background-color: white;
  border-radius: 50%;
  border: 6px solid rgb(242,243,244);
}

.name {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 640;
  font-size: 1.2rem;
  line-height: 0rem;
}

.userDetail {
  color: rgb(158,158,158);
  font-size: 0.9rem;
}

.username {
  font-weight: 340;
  font-size: 0.9rem;
  margin-bottom: 3px;
}

.blogLink {
  color: rgb(158,158,158);
  max-width: 11rem;
  cursor: pointer;
}
.blogLink:hover {
  color: rgb(158,158,158);
  text-decoration: underline;
}

.btnSearchAnotherUser {
  display: block;
  border-radius: 8px;
  padding: 5px 15px;
  color: white;
  background-color: rgb(51,151,207);
}

.bio {
  font-size: 1.1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(122,121,122);
}

.repoListTag {
  font-size: 0.8rem;
  font-weight: 350;
  color: rgb(122,121,122);
}

.repoRow {
  cursor: pointer;
}

.roundImage {
  border-radius: 50%;
}

.repoRowOwnerTag {
  font-size: 0.85rem;
  font-weight: 340;
  color: rgb(122,121,122);
}

.repoName {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 450;
  line-height: 1;
}

.description {
  font-size: 0.9rem;
  color: rgb(64, 64, 64);
}

.iconGroup {
  margin-top: 15px;
  font-size: 0.8rem;
  color: rgb(158,158,158);
}

.hr {
  margin-top: 20px;
  color: rgb(158,158,158);
}
