body {
  background-color: rgb(0, 50, 78);
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(51, 151, 207);
}
.middle-blue {
  background-color: rgb(0, 106, 166);
}
.text-middle-blue {
  color: rgb(0, 106, 166);
}
.text-light-white {
  color: rgb(185,196,205);
}
.text-light-gray {
  color: rgb(158,158,158);
}
.text-dark-gray {
  color: rgb(122,121,122);
}
.text-black {
  color: rgb(64, 64, 64);
}

/* Navbar */
.btn-outline-dark {
  color: white;
  background-color: rgb(51, 151, 207);
  border-color: rgb(51,151,207);
}

/* Search */
.searchContainer {
  max-width: 760px;
}
input[type], input[type]:focus, input[type]::placeholder {
  color: rgb(197,214,226);
  background: rgb(4,88,138);
  border: rgb(4,88,138);
}
.btnSearch, .btnSearch:hover {
  background-color: rgb(0, 106, 166);
  border-color: rgb(0, 106, 166);
}
.followingUsersContainer {
  background-color: rgb(242,243,244);
  border-radius: 12px;
}

/* UserPage */
.backContainer {
  background-color: rgb(98,169,205);
  max-width: 760px;
  padding: 0;
  border-radius: 12px;
}
.frontContainer {
  background-color: rgb(242,243,244);
  margin-top: 200px;
  border-radius: 0px 0px 12px 12px;
}
.userPageContent {
  position: relative;
  top: -6.8rem;
}
.repoRowContainer {
  background-color: white;
  border-radius: 12px;
}
.btn-light-blue {
  display: block;
  border-radius: 8px;
  padding: 5px 15px;
  color: white;
  background-color: rgb(51,151,207);
}
.btn-light-blue:hover {
  color: white;
  background-color: rgb(90, 176, 219);
}
.btn-light-gray {
  display: block;
  border-radius: 8px;
  padding: 5px 15px;
  background-color: rgb(228,230,232);
}
.starIcon {
  color: rgb(234,197,79);
}
.forkIcon {
  color: rgb(51, 151, 207);
}
.codeIcon {
  color: rgb(234,92,92);
}

/* RepoDetail */
.repoDetailContainer {
  background-color: white;
  max-width: 760px;
  border-radius: 12px;
}
.topic {
  display: block;
  padding: 5px 18px;
  border-radius: 20px;
  color: rgb(60, 60, 60);
  background-color: rgb(239,239,239);
}
.topic:hover {
  color: rgb(60, 60, 60);
}
